<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div *ngIf="!loading" class="container">
    <div class="title">
        <h4> Listado de Alumnos</h4>
        <button type="button" class="btn btn-primary" routerLink="/add">Agregar Alumno</button>
    </div>
   
    <table *ngIf="listAlumnos.length > 0" class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">No. Cuenta</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Correo Institucional</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listAlumnos" class="table-active">
            <td>{{ item.num_cuenta }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.fecha_nacimiento }}</td>
            <td>{{ item.correo_institucional }}</td>
            <td [ngClass]="{ 'text-success': item.activo, 'text-body-secondary': !item.activo }">
              <strong>{{ item.activo ? 'Activo' : 'Inactivo' }}</strong>
            </td>
            
            <td>
                <button [routerLink]="['/edit', item.id]" type="button" class="btn btn-info btn-sm"  >Editar</button>
                <button (click)="deleteAlumno(item.id!)" type="button" class="btn btn-secondary btn-sm ms-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 *ngIf="listAlumnos.length == 0"> No hay productos para mostrar </h5>
</div>


</body>
</html>